<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Your New Animal Below</h1>
    <a href="/animals">Clicke Here To Go Back To Your Animal Kindom</a>
    <form action="/animals" method="POST">
        Species name: <input type="text" name="species" placeholder="Insert Species Name" />
        Origin Location: <input type="text" name="location" placeholder="Insert Origin Location" />
        Life Expectancy: <input type="number" name="lifeExpectanct" placeholder="Insert Life Expectancy" />
        Upload Image URL: <input type="text" name="img" placeholder="Insert Image URL"/>
        Extinct Species? <input type="checkbox" name="extinct"/>
        <input type="submit" value="Create Your Animal"/>
    </form>
</body>
</html>